*.py[co]

# Packages
*.egg
*.egg-info
dist
data
build
eggs
parts
sdist
develop-eggs
.installed.cfg
Gemfile.lock
node_modules/
app/js/libs/

# Installer logs
pip-log.txt

cores.db
app/data/company_infos.yml
app/data/company_mapping.yml
app/drupalcore
tmp/
