    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">DrupalCores maintained by <a href="https://github.com/ericduran">"ericduran" <3 ruby, lol</a></p>
      </footer>
    </div>
    <!-- build:js js/all.min.js -->
    <script src="js/libs/jquery/dist/jquery.min.js"></script>
    <script src="js/libs/jquery-timeago/jquery.timeago.js"></script>
    <script src="js/timeago.js"></script>
    <script src="js/reveal-employees.js"></script>
    <!-- endbuild -->
  </body>
</html>