<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>DrupalCores</title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="Eric J. Duran">
  <link type="text/plain" rel="author" href="http://ericduran.github.com/drupalcores/humans.txt" />
  <!-- build:css css/style.css -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css">
  <!-- endbuild -->
</head>
<body>
    <div class="header_wrap outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/lauriii/drupalcores">View on GitHub</a>
          <h1 class="project-title">DrupalCores</h1>
          <h2 class="project-tagline"><%= description %></h2>
        </header>
    </div>
