<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DrupalCores</title>
  <meta name="description" content="A simple list of all contributes to Drupal 8 core">
  <meta name="author" content="Eric J. Duran">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
</head>
<body>
<a href="http://github.com/ericduran/drupalcores"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/ericduran/views_load_more">View on GitHub</a>

          <h1 id="project_title">Views load more</h1>
          <h2 id="project_tagline">Mirror from http://drupal.org/project/views_load_more</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/ericduran/views_load_more/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/ericduran/views_load_more/tarball/master">Download this project as a tar.gz file</a>
            </section>
<h1>A very basic table of all contributer to Drupal 8 Core</h1>
<p> This is not perfect, it still has some bugs and it might be completely wrong!!!!!!!!!!!!</p>
<p> Updated {{page.date}} </p>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Views load more maintained by <a href="https://github.com/ericduran">ericduran</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
