<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DrupalCores</title>
  <meta name="description" content="A simple list of all contributes to Drupal 8 core">
  <meta name="author" content="Eric J. Duran">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  <script src="js/libs/modernizr.min.js"></script>
</head>
<body>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/ericduran/drupalcores">View on GitHub</a>
          <h1 id="project_title">DrupalCores</h1>
          <h2 id="project_tagline">A very basic table of all contributer to Drupal 8 Core</h2>
            <section id="downloads">
              <a class="zip_download_link" href="#">Download this project as a .zip file</a>
              <a class="tar_download_link" href="#">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="updated">Last updated {{page.date}}</p>
        <p class="copyright">DrupalCores maintained by <a href="https://github.com/ericduran">ericduran</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
